/* variables */
body, html {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  position: relative;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: #000000;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #caa378;
}

h2 {
  font-weight: 300;
  text-align: center;
  line-height: 1.5em;
}
h2 strong {
  font-weight: 700;
}

h3 {
  font-weight: 400;
  margin-top: 0;
}
h3 span {
  font-style: italic;
  color: #666666;
  font-size: 0.7em;
}

h4 {
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0;
}
h4 + p {
  margin-top: 0.5em;
  line-height: 1.5em;
  font-weight: 300;
}

ion-icon {
  font-size: 1.75em;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}

.checkbox input[type=checkbox] {
  opacity: 0;
}
.checkbox label {
  position: relative;
  padding-left: 1em;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #666;
  position: absolute;
  top: 0px;
  left: -20px;
}
.checkbox label::after {
  content: none;
  display: inline-block;
  height: 6px;
  width: 15px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  position: absolute;
  left: -15px;
  top: 4px;
}

/*Hide the checkmark by default*/
.checkbox input[type=checkbox] + label::after {
  content: none;
}

/*Unhide the checkmark on the checked state*/
.checkbox input[type=checkbox]:checked + label::after {
  content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type=checkbox]:focus + label::before {
  outline: #3b99fc auto 5px;
}

header {
  color: #fff;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  text-transform: uppercase;
  padding: 2em;
}
header h1 {
  font-weight: 600;
  margin: 0;
  margin-right: 45px;
  font-size: 1.85em;
}
header .fos-image {
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  min-height: 250px;
  padding: 2.5em 3em;
  margin: -2em;
  box-sizing: border-box;
  display: flex;
  background-blend-mode: luminosity;
  align-items: end;
}
header .fos-image:before, header .fos-image:after, header .fos-image > :first-child:before, header .fos-image > :first-child:after {
  position: absolute;
  width: 40px;
  height: 40px;
  border-color: #fff;
  border-style: solid;
  content: " ";
  z-index: 1000;
}
header .fos-image:before {
  top: 15px;
  left: 15px;
  border-width: 4px 0 0 4px;
}
header .fos-image:after {
  top: 15px;
  right: 15px;
  border-width: 4px 4px 0 0;
}
header .fos-image > :first-child:before {
  bottom: 15px;
  right: 15px;
  border-width: 0 4px 4px 0;
}
header .fos-image > :first-child:after {
  bottom: 15px;
  left: 15px;
  border-width: 0 0 4px 4px;
}
header .triangle {
  background: #000;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 28px 23px 0;
}
header .triangle:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 39px solid transparent;
  border-right: 39px solid #000;
  border-top: 32px solid transparent;
  border-bottom: 32px solid #000;
  position: absolute;
  top: -64px;
  right: 0;
}
header .triangle:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 41px solid transparent;
  border-right: 41px solid #000;
  border-top: 35px solid transparent;
  border-bottom: 35px solid #000;
  position: absolute;
  bottom: 0;
  right: 78px;
}

.main {
  padding: 40px;
  font-weight: 300;
  max-width: 500px;
  margin: 0 auto;
}
.main form > div {
  display: flex;
  margin-bottom: 1em;
  justify-content: stretch;
  align-items: end;
}
.main form > div .icon img {
  width: 1.5em;
}

input[type=text] {
  flex-grow: 1;
  margin-left: 0.5em;
  padding-bottom: 1px;
  display: block;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px #000;
  color: #000;
  background: #fff;
  font-size: 1em;
  box-sizing: border-box;
  font-weight: 300;
}
input[type=text]::placeholder {
  color: #888;
}

p.help-text {
  font-size: 0.85em;
  color: #666;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 2em;
}

button, label.button, a.button {
  background: #000;
  color: #fff;
  flex-grow: 1;
  border: 1px solid #000;
  padding: 0.5em;
  text-transform: uppercase;
  font-family: "Fira Sans", sans serif;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
  font-size: 1.2em;
  position: relative;
  margin: 0.75em 0;
  text-decoration: none;
}
button:hover, label.button:hover, a.button:hover {
  cursor: pointer;
  background: #fff;
  color: #000;
  border: 1px solid #000;
}
button:hover .icon, label.button:hover .icon, a.button:hover .icon {
  filter: invert(0);
}
button:disabled, label.button:disabled, a.button:disabled {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}
button .icon, label.button .icon, a.button .icon {
  position: absolute;
  right: 0.5em;
  top: 0.34em;
  width: 1.5em;
  filter: invert(1);
}

a.button {
  margin: 1.5em auto;
  padding: 0.5em 2em;
  font-size: 1em;
  display: table;
}

label.button {
  font-size: 0.8em;
  padding: 0.5em 1em;
}
label.button strong {
  font-size: 1.2em;
  padding-right: 5px;
}

footer {
  text-align: center;
  font-size: 0.8em;
  padding-bottom: 1em;
}
footer p {
  margin: 0.5em;
}
footer .soc img {
  width: 25px;
  margin: 0;
}
footer .links a {
  margin: 1em 20px;
}

/* PAGE SPECIFIC STYLES */
.page-home header {
  text-align: center;
  background-image: url("../images/home-header.jpg");
}
.page-home header .fos-image {
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  min-height: 400px;
  padding: 3.5em;
}
.page-home header .fos-image h1 {
  margin-right: 0;
}
.page-home input[type=text] {
  text-transform: uppercase;
}

#uploadWrapper h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 300;
}

.photo-upload-box {
  position: relative;
  min-height: 350px;
  display: flex;
  text-align: center;
  padding: 4px;
  box-sizing: border-box;
  align-content: center;
  justify-content: center;
}
.photo-upload-box input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.photo-upload-box label {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-size: 1.25em;
  padding: 20px;
  z-index: 997;
}
.photo-upload-box label img {
  margin: 0 auto 20px auto;
  width: 80px;
}
.photo-upload-box label:hover {
  cursor: pointer;
}
.photo-upload-box:before, .photo-upload-box:after, .photo-upload-box > :first-child:before, .photo-upload-box > :first-child:after {
  position: absolute;
  width: 40px;
  height: 40px;
  border-color: #000;
  border-style: solid;
  content: " ";
  z-index: 997;
}
.photo-upload-box:before {
  top: 0;
  left: 0;
  border-width: 4px 0 0 4px;
}
.photo-upload-box:after {
  top: 0;
  right: 0;
  border-width: 4px 4px 0 0;
}
.photo-upload-box > :first-child:before {
  bottom: 0;
  right: 0;
  border-width: 0 4px 4px 0;
}
.photo-upload-box > :first-child:after {
  bottom: 0;
  left: 0;
  border-width: 0 0 4px 4px;
}

#previewContainer {
  flex-direction: column;
}

.thumbnail-wrapper {
  margin: 1em 0;
  padding: 34px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}
.thumbnail-wrapper:before, .thumbnail-wrapper:after, .thumbnail-wrapper > :first-child:before, .thumbnail-wrapper > :first-child:after {
  position: absolute;
  width: 40px;
  height: 40px;
  border-color: #000;
  border-style: solid;
  content: " ";
  z-index: 997;
}
.thumbnail-wrapper:before {
  top: 0;
  left: 0;
  border-width: 4px 0 0 4px;
}
.thumbnail-wrapper:after {
  top: 0;
  right: 0;
  border-width: 4px 4px 0 0;
}
.thumbnail-wrapper > :first-child:before {
  bottom: 0;
  right: 0;
  border-width: 0 4px 4px 0;
}
.thumbnail-wrapper > :first-child:after {
  bottom: 0;
  left: 0;
  border-width: 0 0 4px 4px;
}

#thumbnails {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}
#thumbnails .thumbcontainer {
  margin: 8px;
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: relative;
  text-align: center;
  border: 1px solid #000;
  display: flex;
  align-content: center;
  justify-content: center;
}
#thumbnails .thumbcontainer img.thumbPreview {
  height: 100%;
}
#thumbnails .thumbcontainer:after {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: luminosity;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 997;
}
#thumbnails .thumbcontainer img.thumbRemove {
  z-index: 998;
}
#thumbnails .thumbcontainer img.thumbRemove:hover {
  cursor: pointer;
}
#thumbnails .thumbcontainer .thumbProgress {
  z-index: 998;
  border: 1px solid #fff;
  background: transparent;
  position: absolute;
  width: 105px;
  margin: 5px;
  bottom: 0;
  height: 20px;
}
#thumbnails .thumbcontainer .thumbProgress .thumbProgressFill {
  background: #fff;
  height: 100%;
  position: relative;
}

#selected {
  text-align: center;
  font-size: 1.2em;
}
#selected strong {
  font-weight: 600;
}

/**** Modal styles ****/

/*# sourceMappingURL=front-end.css.map */
